body {
    background-color: #333333;
    /* background-color: #f0a2fd; */
    /* background-color: darkblue; */
    display: flex;
    font-family: 'Calibri';
    letter-spacing: 2px;
    /* font-family: 'Comic Sans MS'; */
    color: white;
    /* flex-direction: row; */
    /* flex: 1; */
}

.col {
    margin: 15px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    flex: 1;
    
} 

.section_header {
    font-family: 'Apple Chancery';
}